* {
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #999999;
    font-family: Georgia, sans-serif;
    font-size: 50px;
  }
  
  #container {
    min-height: 100%;
  }
  
  #main {
    overflow: auto;
    padding-bottom: 100px;
  }
  
  footer {
    background-color: #74839b;
    color: #a9b6c3;
    height: 150px;
    position: fixed;
    width: 100%;
    z-index: 8;
    margin-top: -150px;
    clear: both;
  }
  
  html, body {
    height: 100%;
    background-image: url("NTCback.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1290px 499px;
    position: relative;
    z-index: 10;
  }
   /* Choose background for top navigation bar */
   .topnav {
    overflow: hidden;
    background-color: rgb(52, 56, 59);
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #e6d1d8;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #c4bdac;
    color: white;
  }
  
  .button {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 110%);
    margin-top: 300px;
    display: flex;
    flex-direction: column;
  }
  
  .btn {
    border: 1px solid rgb(219, 201, 201);
    background-color: aliceblue;
    padding: 10px 30px;
    color: rgb(167, 87, 56);
    
  }
  
  
  .userinfo {
    position: fixed;
    box-sizing: border-box;
    padding: 15px;
    width: 25%;
    border: 4px;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -40%);
    margin-top: 230px;
    display: flex;
    flex-direction: column;
  }

