<!DOCTYPE html>
<html>
    <head>
        <title>Fuel Prediction Project</title>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
    </head>
    
    <center><br><br>
    
    <img class="img-responsive" width="225" height="225" src="/css/ntc.png"></center>
<br><br><br>
<center>
    <h1 style="color:#59729b" > Welcome to NTC Fuel Solutions <br></h1>
    <h2>Get your Fuel Quote Today!</h2>
<br>
    <div class="container">

<div id="id01" class="modal">
  

     <form class="modal-content animate" id ="form" action="/login" method="POST" >
    <div class="form-group">
      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" class="form-control" id="username"
                required="required"/>
    </div>
      
      <div class="form-group">
      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required="required"/>
      </div>
      
      <div class="form-group">
      <button type="submit" class="btn btn-primary">Login</button>
   
      </div>
      <br>
      <% if (messages.error) { %>
        <%= messages.error %>
      <% } %>
      <br>
    <div class="container" style="color:rgb(94, 84, 66)">
      <span class="psw">New user? <a href="/register">Click here</a></span>
      
    </div>
</form>
</div>
    </div>

</center>
<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>
</html>
